<div th:include="header"></div>
<body>
<div class="container">
<div class="row">
    <form method="post" action="/login">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="pwd" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check me!
            </label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
</div>
</body>
</html>