<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.BlogMapper">

    <select id="getBlogInfo" resultType="com.springmvc.model.Blog">
        select * from tbl_blog where id=#{id}
    </select>

    <!--
    <resultMap id="blogList" type="com.springmvc.model.Blog">
        <result property="id" column="id"></result>
        <result property="title" column="title"></result>
        <result property="content" column="content"></result>
        <result property="ctime" column="ctime"></result>
    </resultMap>
    -->
    <select id="getAll" resultType="com.springmvc.model.Blog">
        SELECT * FROM tbl_blog
    </select>

    <insert id="insert" parameterType="com.springmvc.model.Blog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tbl_blog(title, content, ctime) VALUES (#{title}, #{content}, #{ctime})
    </insert>
</mapper>
