<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springmvc.mapper.BlogMapper">

    <select id="getBlogInfo" resultType="com.springmvc.model.Blog">
        select * from tbl_blog where id=#{id}
    </select>

</mapper>